<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    
    <%- include('./partials/sidenav') %>

    <div class="container">
        <!--Form for user to paste manually-->
        <form class="myForm" method="POST" action="/items">
            <div class="input-group" style="z-index: 0;">
                <input type="text" class="form-control" placeholder="paste here..." name="new_item" id="new_item">
                <div class="input-group-btn">
                    <button class="btn btn-default" id="submit" type="submit">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </form>

        <div class="clipboard">
            <% if(content.length > 0) { %> 
                <% content.forEach((item, index) => { %>
                    <div class="item-wrapper">
                        <div class="item <%= item.user_id == current_user.user_id ? 'user-item' : 'other-user-item' %>" >
                            <p id="text-<%= item.item_id %>"><%= item.text %></p>
                            <footer class="blockquote-footer"><%= item.login_name %><br>at <cite><%= item.timestamp %></cite></footer>
                        </div>
                        <button type="button" class="btn" style="margin: 5px" onclick="copyToClipboard('#text-<%= item.item_id %>')">
                            <span class="glyphicon glyphicon-copy">
                        </button>
                        <button type="button" class="btn btn-danger delete-button" data-itemid="<%= item.item_id %>">
                            <span class="glyphicon glyphicon-trash">
                        </button>
                    </div>
                <% }); %>
            <% } %> 
        </div>
    </div>


    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();

        const deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach((button, index) => {
            button.addEventListener('click', (e) => {
                socket.emit('delete item');
            });
        });

        const form = document.querySelector('.myForm');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            $.post('/items', {
                new_item: document.querySelector('input.form-control').value
            }, () => {
                socket.emit('pasted item');
            });
        });

        socket.on('delete item', () => {
            window.location.href = '/items';
        });

        socket.on('pasted item', () => {
            window.location.href = '/items';
        });

        socket.on('delete user', () => {
            window.location.href = '/items';
        })
    </script>
    <script src="/scripts/sidenav.js"></script>
    <script src="/scripts/clipboard.js"></script>
    
</body>

</html>