<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    
    <%- include('./partials/sidenav') %>

    <div class="container">
        <div class="clipboard">
            <% if(content.length > 0) { %> 
                <% content.forEach((item, index) => { %>
                    <div class="item-wrapper">
                        <div class="item" >
                            <p id="text-<%= item.item_id %>"><%= item.text %></p>
                            <footer class="blockquote-footer">at <cite><%= item.timestamp %></cite></footer>
                        </div>
                        <button type="button" class="btn" style="margin: 5px" onclick="copyToClipboard('#text-<%= item.item_id %>')">
                            <span class="glyphicon glyphicon-copy">
                        </button>
                        <button type="button" class="btn btn-danger delete-button" data-itemid="<%= item.item_id %>">
                            <span class="glyphicon glyphicon-trash">
                        </button>
                    </div>
                <% }); %>
            <% } %> 
        </div>
    </div>
    
    <script src="/scripts/sidenav.js"></script>
    <script src="/scripts/clipboard.js"></script>
</body>

</html>